// Oxyrem Support Module

.txt-left, .text-left {
	text-align: left !important;
}

.txt-center, .text-center {
	text-align: center !important;
}

.txt-right, .text-right {
	text-align: right !important;
}

.height-auto {
	height: auto !important;
}